<footer ibmRow>
    <div ibmCol [columnNumbers]="{'lg': 10}" class="ds-text-align-xs-center ds-text-align-md-left">
        <div ibmRow>
            <div ibmCol [columnNumbers]="{'lg': 2, 'sm': 2}" class="privacy">
                <a target="_blank" href="https://w3.ibm.com/w3publisher/w3-privacy-notice">Privacy</a>
            </div>
            <div ibmCol [columnNumbers]="{'lg': 2, 'sm': 2}" class="terms">
                <a target="_blank" href="https://w3.ibm.com/w3/info_terms_of_use.html">Terms of Use</a>
            </div>
            <div ibmCol [columnNumbers]="{'lg': 3, 'sm': 4}" [offsets]="{'lg': 4}" class="copyright">© 2020 Copyright: Smart Expense Report</div>
        </div>
    </div>
</footer>
