    <main>
        <div *ngIf="!onReview" ibmGrid class="no-expenses-grid">
            <div ibmRow>
                <div ibmCol>
                    <h1>No expenses to review ;-)</h1>
                </div>
            </div>
        </div>
        <div *ngIf="onReview" ibmGrid  @sideContentAnimation>
            <div ibmRow class="row side-list-content-data-inner"  >
                <div ibmCol>
                    <h2>{{onReview.vendor}}</h2>
                </div>
            </div>
            <div ibmRow class="row">
                <div ibmCol>
                    <label>Expense Type</label>
                    <h4>{{onReview.vendor_type}}</h4>
                </div>
            </div>
            <div ibmRow class="row">
                <div ibmCol>
                    <label>Date</label>
                    <p>{{onReview.date | date:'medium'}}</p>
                </div>
            </div>
            <div ibmRow class="row">
                <div ibmCol>
                    <label>Amount</label>
                    <p>{{onReview.price | currency:'USD'}}</p>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol>
                    <button [ibmButton]="'secondary'" [size]="'normal'" (click)="next()">Check</button>
                </div>
                <div ibmCol class="button-ok">
                    <button [ibmButton]="'primary'" [size]="'normal'" (click)="next()">Accept</button>
                </div>
            </div>
        </div>
    </main>
