main {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.row {
    margin: 0rem 0 2rem 0
}

.button-ok {
    text-align: right;
}

.no-expenses-grid {
    padding-top: 4rem;
    padding-bottom: 8rem;
}